body {
	font-family: sans-serif;
	background-color: white;
	color: black;
	margin: 0;
}

header {
	background-color: #106470;
    margin: 0;
    padding: 0;
    width: 100%;
}

header h1 {
	color: #eeeeee;
    margin: 0;
    padding: 0.5ex;
}

nav {
	background-color: #106470;
	color: #dddddd;
	margin: 0;
	padding: 1ex;
	width: 100%;
	border-top: solid #eeeeee 1px;
}

nav a {
	color: #dddddd;
	text-decoration: underline;
}

nav a:hover {
	color: #ffffdd;
	text-decoration: none;
}

main {
	margin: 0 1%;
}

form {
	background-color: #f8f8f8;
	padding: 1ex;
	margin: 0 1ex;
}

label {
	display: block;
	padding-top: 1ex;
}

input[type="submit"] {
	display: block;
	margin: 2ex 0;
}

label.required:after {
	content: " *";
	color: #69b31a;
}

.password-tip {
	font-size: small;
	color: #333333;
}

td label {
	display: inline;
}

.error {
	color: #ff0000;
}

span.error {
	font-weight: bold;
	font-size: small;
	display: block;
}

#sessions {
	padding: 2ex 0;
}
