<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% if title %}{{ title|e }} - {% endif %}Cambridge Beer Festival Volunteering</title>
{% if baseurl %}<base href="{{ baseurl|e('html_attr') }}" />{% endif %}
<link rel="stylesheet" href="style/base.css" />
{% block head %}{% endblock %}
</head>
<body>
<header>
<h1>Cambridge Beer Festival Volunteering</h1>
</header>
{% if person %}
<nav>
Logged in as {{ person.name }}
{% if person.membership %}<em>(CAMRA member {{ person.membership }})</em>{% endif %}
{% if festival.nonmembers or person.is_member() %} | <a href="volunteer.php" title="Volunteer">Volunteer</a>{% endif %}
 | <a href="logout.php" title="Logout">Logout</a>
</nav>
{% endif %}
<main>
{% block content %}
{% endblock %}
</main>
</body>
</html>
