{% extends 'base.html' %}
{% block head %}
<style>
body > section {
	page-break-after: always;
}

section.boxed {
	border-left: 10px solid #eec;
	background: #f9f9f9;
	margin: 0 1em;
	padding: 0 1em;
}
</style>
{% endblock %}
{% block content %}
<h1>Cambridge Beer Festival Volunteer Guidelines</h1>

<section id="general"><h2>General Information</h2>
<p>The festival is held in two tents arranged in a T-shape. One tent holds the food and glasses counters, concession stands, and seating (often known as the food tent). The other holds the bars (the beer tent). Please note that children (anybody under 18) are allowed in the beer tent but must be accompanied by a responsible adult at all times. The area behind the beer tent is for volunteers only; the volunteering office, administration office, and stewards’ office are located there. Toilets for volunteers’ use (and showers, for those staying on site) are in this area.</p>
<p>If you are working on one of the bars, you must not serve any person who is under 18 or drunk. The festival operates a “Challenge 21” policy. If someone looks to be under 21, ask for ID to check they are over 18. Note that the age limit is not 21.</p>
<p>While the festival is not open to the public, beer is free to volunteers. Volunteers can borrow volunteer glasses from the glasses counter. Volunteer glasses are old glasses from other festivals as a reminder that they should be returned rather than taken away. You should only drink from casks that have been marked by the cellar team as available to volunteers. While the festival is open you must use the ‘Volunteer Beer’ tokens to buy beer. You will only be permitted to do this if you are wearing a valid badge.</p>
<p>While the festival is being set up and taken down, food is provided on site for volunteers. There will normally be a few menu options each meal and someone will come and check what food you would like in advance. During the festival, you can use your voucher to buy a meal at our food counter or at the various outside caterers. The person responsible for managing you (your bar manager, etc.) should tell you when to go for your meal, but ultimately it's your responsibility to ensure you are fed and watered. Cold drinking water is available all the time in the volunteer tent. Apple juice is available on the cider bar.</p>
<p>Thank you for working at the Cambridge Beer Festival this year. We hope you enjoy it. If you have any comments about this guide, the way the festival is run, or any other matter please direct them to the Festival Organiser.</p>
</section>

<section id="safety"><h2>Safety</h2>
<section id="safety.legal_requirements">
<h3>Legal Requirements</h3>
<p>Please read this section carefully. Failure to observe to these rules could render both <strong>you</strong> and the festival liable to action under the Health and Safety at Work Act or the Food Safety Act, resulting in heavy fines and immediate closure. You must be over the age of 18 to work at the beer festival. You may be asked for proof of age so please carry ID with you at all times otherwise you may not be able to work at the festival.</p>
</section>

<section id="safety.health_and_safety">
<h3>Health and Safety</h3>

<p>As a CAMRA volunteer you are obliged to observe the
following points:</p>
<ul>
<li>You may be provided with a pair of gloves. They are yours; keep them, and do not use anybody else's.</li>
<li>When a section of the festival is designated a hard-hat area you must wear a safety helmet.</li>
<li>Wear protective safety equipment when instructed to do so. Appropriate equipment is provided at the festival.</li>
<li>Wear suitable footwear at the festival, i.e. heavy-duty footwear for construction; footwear with non-slip soles in areas liable to be wet, for example bars and stillaging. You must provide your own footwear.</li>
<li>Wear suitable gloves when handling broken glass. Use a dustpan and brush and wear safety goggles if necessary. All broken glass must be disposed of in the broken glass bins provided behind each of the bars and nowhere else.</li>
<li>Wear gloves when rolling casks.</li>
<li>Observe correct practice when lifting heavy objects: bend from the hips, keep the head and back in a straight line and lift steadily with the muscles of the legs, buttocks, stomach and back.</li>
<li>Report accidents or near-misses, bad practices or breaches of the Health and Safety at Work Act, or potential hazards to your manager or to the appointed Health and Safety Officer. Be assured that you will not be blamed for any problems.</li>
<li>Do not ride on any mechanical handling equipment except those where a designated ride-on operator space is provided.</li>
<li>Do not use any mechanical handling equipment unless you possess an appropriate license and have been authorised to use the equipment.</li>
<li>Do not install, repair or tamper with electrical equipment unless authorised to do so.</li>
<li>Do not consume alcohol while employed in any operations involving forklift trucks etc.</li>
</ul>

<p>Remember:</p>
<ul>
<li>You are responsible for your own safety and that of everyone else.</li>
<li>If you are unsure about something, seek advice.</li>
<li>All accidents, however small, must be recorded in the accident book.</li>
</ul>

<p><em>The Campaign for Real Ale Limited and its Insurers will not accept liability for any loss, damage or injury where it is shown that the responsibility for the accident or injury lies with a person whose judgement was impaired by having consumed alcohol, or who deliberately ignored CAMRA policy, instructions or training.</em></p>
</section>

<section id="safety.fire_and_emergency_procedures">
<h3>Fire and Emergency Procedures</h3>

<p>In the event that an evacuation takes place, all volunteers who have signed on for a shift must assemble by the skateboard park over by the swimming pool on Jesus Green and remain there until told to return to the festival or leave the park.</p>

<p>If you are informed of or discover a fire on site, inform the nearest steward or bar manager immediately. They will alert the chief steward, who will call the emergency services if required. Stewards will ensure that members of the public are evacuated from and kept away from the area of the fire until it is fully extinguished; you may be asked to help. On no account tackle any fire unless trained.</p>

<p>Be constantly aware of unattended items. The festival is a large public event and therefore there is a potential terrorist threat. If anything suspicious is found inform a steward or bar manager immediately.</p>

<p>If the decision is taken, for whatever reason, to evacuate the site:</p>
<ul>
<li>The evacuation signal will be an air horn.</li>
<li>Stewards and bar managers will be informed of the decision via their radios or by a senior steward.</li>
<li>Stewards will direct members of the public from the site. Keep calm but use firm crowd control. Take care not to increase alarm, and use the safest available route.</li>
<li><em>Provided it is safe to do so</em> check that your area is clear of public and volunteers.</li>
</ul>
</section>

<section id="safety.food_safety">
<h3>Food Safety</h3>
<p>For the purpose of food safety and hygiene, beer is a food. There are some things you must do:</p>
<ul>
<li>You must wash your hands when entering the bar or food area. Handwashing facilities are available behind all the bars and the food counter.</li>
<li>You must wash your hands after wiping down the bar or food counter.</li>
<li>You must wash your hands after handling money, if you are going to handle food.</li>
<li>You must wash your hands after using the toilets.</li>
</ul>

<p>There are some things that you must not do:</p>
<ul>
<li>You must not smoke or take snuff while behind the bars or food counter.</li>
<li>You must not consume food while behind the bars or food counter.</li>
<li>You must not put your hands near your face, mouth or hair.</li>
</ul>
</section>

<section id="safety.security">
<h3>Security</h3>
<p>Security is the responsibility of all, but especially the responsibility of those stewards wearing yellow shirts or fleeces. There are a number of things that you can do to ensure the smooth running of the festival:</p>
<ul>
<li>Identification badges or stickers are supplied to all volunteers. They must be worn in a visible position all
the time that you are on site. If your badge is not visible and you are in a volunteer-only area then you may be removed. The aim is to stop members of the public from wandering around where it may not be safe for them to do so.</li>
<li>No volunteer should openly discuss the handling of cash in the presence of the public.</li>
<li>At the end of each session you can help the stewards in clearing the site by not drinking in public once time has been called (use the volunteer tent), and do not socialise with members of the public, even if they are your friends, as it makes them difficult to move. The sooner the site is cleared the sooner we can start serving free volunteer beer…</li>
</ul>

<p>Volunteer drunkenness will not be tolerated. Any volunteer found to be heavily under the influence of alcohol will have their badge confiscated and be asked to leave the site. Anyone found in possession of any illegal substance will be ejected from the festival, and may also be subject to CAMRA's due disciplinary procedures and have their name circulated to various officers of the campaign and the Police.</p>
</section>

<section id="safety.first_aid">
<h3>First Aid</h3>
<p>There are a number of qualified first aiders on site. They can be identified by the green first aid badges they wear. If a customer needs first aid try and find the nearest first aider; if there isn't one around find the nearest person with a radio and ask them to radio for a first aider. The customer first aid point is at the glasses counter, and all non-urgent problems should be sent there. The volunteer first aid point is in the volunteer tent behind the bars. Again, try and find the nearest first aider to deal with your problem, or find someone to radio for one. You must wear waterproof plasters over any cuts or scratches. To summarise:</p>
<ul>
<li>The customer First Aid point is at the glasses counter.</li>
<li>The volunteer First Aid point is in the volunteer tent.</li>
</ul>

<p>All accidents, however trivial, must be entered in the accident book. This is the responsibility of the First Aiders.</p>
</section>
</section>

<section id="working_on_bars">
<h2>Working on Bars</h2>

<p>If you are working behind a bar you must pay particular attention to the previous sections that highlight our guidelines on food safety, which cover some legal requirements.</p>

<p>Working behind a bar is rewarding, but can also be very tiring. Make sure that you take regular breaks, and that you don't forget your meal. If there's a “quiet patch” consider going for your meal (but ask your manager first), and ensure you drink some of the soft drinks available in the volunteer tent.</p>

<section class="boxed" id="working_on_bars.underage_drinking">
<h3>Underage drinking</h3>
<p>If you are working on a bar you have a legal duty not to sell alcohol to persons under 18. This also includes selling to people who you believe are intending to pass alcohol on to under 18s. The festival operates a “Challenge 21” policy – if you believe somebody is under 21, challenge them for ID to check they are 18 or over. Customers should be aware of this policy from the programme and signs around the festival. If someone is not 18 or over, or has no ID when challenged, you must not serve them. Tell your bar manager if you refuse to serve somebody.</p>

<p>To make checking easier, the date of birth for somebody who is just 18 will be on pieces of paper near the tills under the bar.</p>
</section>

<p>All the glasses in use at the festival are oversized, and have printed lines for pint, half-pint and third measures. Make sure that you fill the glass up to the line (but no further); any froth must be above the line. With lively beers this may take a little time, but be careful anyway. Full measure is a major campaigning issue for CAMRA.</p>

<p>Be careful to avoid contaminating glasses and taps. When serving any beverage, you must not put your fingers inside glasses, touch the rim of the glass, or touch the glass with the tap. Taps should never be held under the surface of the beverage in the glass. Hold a glass by the bottom third of the glass. Do not hold the glass by the top third, this is for the customer to hold and drink from.</p>

<p>If you accidentally break a customer's glass, apologise. All bar managers have tokens for replacement glasses. You could tell the customer to take the token to the glasses counter for a new glass, or if they seem particularly upset you could go and get the replacement yourself.</p>

<p>Some customers may have brought their own glasses or a tankard. These are alright if they are CE or crown-stamped, but take note of whether they are pint to line or pint to brim. If the glass or tankard isn't stamped you should pour the beer into a measuring glass first; these are kept under the counter and should <em>never</em> be used for anything else.</p>

<p>You must never attempt to move or tilt any of the casks. If you see any other volunteer doing this, inform the bar manager. Only the cellar team and bar managers should deal with casks. You should serve only from those casks marked for sale.</p>

<p>Some of the beers are served through taps attached to the front of the stillage (and connected via a length of beer line to casks at the back of the stillage). The sign showing which beer is being served through the tap should be hung above it.</p>

<p>If a customer claims that a beer is “off”, or you think that it might be, you should call your bar manager or a member of the cellar team.</p>

<p>The beer prices are all displayed on the cask end signs. The price of a half-pint is always exactly half the cost of a pint, and will always be a multiple of 10p. The price of third-pint is a third of the cost of a pint, but rounded up to the nearest 10p. Be careful when accepting notes; most arguments are over whether a note was £10 or £20. It is good practice not to put the customer's note away until you have got the change. If there is an argument about change, you should call a steward or your bar manager. If a customer wants to use a £50 note you should ask your bar manager to check the note for you.</p>

<p>Only managers and finance team are supposed to remove notes from the tills. The notes will usually be posted into letterboxes attached to the stillage for the finance team to collect. If you see anybody else removing notes from the tills, you should tell your manager.</p>

<p>Some people will pay for beer using tokens. Volunteer beer tokens are each worth half a pint of any beer, and can only be used by people wearing a volunteer badge appropriate for the current session. “Free Beer” and “Beer Token” tokens can be used by anybody. The tombola may also be giving away “Tombola Beer” tokens as prizes.</p>

<p>If you are uncertain about any customer, for example if you think they might be underage, overly drunk, or acting suspiciously, you should call your bar manager or a steward. If they are aggressive or abusive you should walk away and find a steward or your bar manager. Be polite, and tell them what you are doing; do not allow an argument to develop.</p>
</section>

{% endblock %}