{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% block content %}
<p>Welcome to the Cambridge Beer Festival volunteering site.</p>
{% if not festival %}
<p>We're not signing up volunteers for any upcoming festivals at the moment, but we probably will be soon.</p>
{% else %}
<p>Like all <abbr title="Campaign for Real Ale">CAMRA</abbr> beer festivals, the {{ festival.name }} is organised and run entirely by volunteers. Without those volunteers it simply wouldn't happen.</p>
{% if person %}
{% if festival.nonmembers or person.is_member() %}
<p><strong><a href="volunteer.php" title="Volunteer">Volunteer for the festival</a></strong></p>
{% else %}
<p>We're not currently signing up volunteers who aren't members of CAMRA for this festival.</p>
{% endif %}
{% else %}
{% include 'memberlogin-form.html' %}
{% endif %}
{% endif %}
{% endblock %}
