{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% block content %}

<form method="POST" action="">

<fieldset>
{% for sessiongroup,days in festival.sessions %}
<h3>{{ sessiongroup }}</h3><table>
 {% for day,times in days %}
<tr><td>{{ day|date('l F j') }}</td>
  {% for tag,period in times %}
   {% if tag and period %}
<td><label><input type="checkbox" id="{{ tag }}" name="{{ tag }}" />{{ period }}</label></td>
   {% else %}
<td></td>
   {% endif %}
  {% endfor %}
</tr>
 {% endfor %}
</table>
{% endfor %}
</fieldset>

{% endblock %}
