{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.7/minified/polyfiller.js"></script>
<script>
webshim.polyfill("forms");

function pw_compare(ref, confirm) {
	if (ref.val() != confirm.val()) {
		confirm.setCustomValidity("Password must match");
	} else {
		confirm.setCustomValidity("");
	}
}

$(function() {
	$("#password").on("change", function() { pw_compare($("#password"), $("#password_c"))});
	$("#password_c").on("input", function() { pw_compare($("#password"), $("#password_c"))});
});
</script>
{% endblock %}
{% block content %}
<p>If you're a CAMRA member, please <a href="memberlogin.php" title="CAMRA log in">log in as a member</a>.</p>
<p>If you've volunteered before as a non-member, please log in using your email address and password you used before. Otherwise, you can sign up as a new volunteer below.</p>

<h2>Existing volunteer</h2>
{% if error_detail %}<p class="error">{{ error_detail|e }}</p>{% endif %}
<form method="POST" action="">
{{ forms.input('Email address', 'login_email', '', 'email', 60) }}
{{ forms.input('Password', 'login_password', '', 'password') }}
{{ forms.submit('Login') }}
</form>

<h2>New volunteer</h2>
{% if newform.overall_err|length %}<p class="error">{{ newform.overall_err|e }}</p>{% endif %}
<form method="POST" action="">
{{ forms.input('Name', 'name', newform.name, text, 60, newform.name_err, true) }}
{{ forms.input('Email address', 'email', newform.email, 'email', 60, newform.email_err, true) }}
{{ forms.textarea('Address', 'address', newform.address, 4, 80, newform.address_err, true) }}
{{ forms.newpassword('Password', 'password', newform.password_err) }}
{{ forms.hidden('newvolunteer', '1') }}
{{ forms.submit('Register') }}
</form>

<p>In order to run the festival we need to store your name and your contact details as entered on the form. After the festival we'll store minimal information for 1 year, so we can tell if you're a new volunteer at next year's festival.</p>

<p>If you'd like more information about what data the beer festival holds on you please get in touch with the <a href="mailto:volunteering@cambridgebeerfestival.com">festival volunteering officer</a>.</p>

{% endblock %}
