{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.7/minified/polyfiller.js"></script>
<script>
webshim.polyfill("forms");
</script>
{% endblock %}
{% block content %}
<p>If you've previously registered here as a non-member and have forgotten your
password you can reset it here.</p>
<p>If you're a CAMRA member and don't know your password please visit the <a href="http://password.camra.org.uk">CAMRA password reset site</a>.</p>

<form method="POST" action="" accept-charset="utf-8">
{{ forms.input('Email address', 'email', form.email, 'email', 60, form.email_err, true) }}
{{ forms.submit('Request password reset') }}
</form>

<p>If you can't remember what email address you registered with please get in touch with the <a href="mailto:volunteering@cambridgebeerfestival.com">festival volunteering officer</a>.</p>

{% endblock %}
