{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.15.7/minified/polyfiller.js"></script>
<script>
webshim.polyfill("forms");

function pw_compare(ref, confirm) {
	if (ref.val() != confirm.val()) {
		confirm.setCustomValidity("Password must match");
	} else {
		confirm.setCustomValidity("");
	}
}

$(function() {
	$("#password").on("change", function() { pw_compare($("#password"), $("#password_c"))});
	$("#password_c").on("input", function() { pw_compare($("#password"), $("#password_c"))});
});
</script>
{% endblock %}
{% block content %}
<p>Please enter your chosen new password below.</p>
<form method="POST" action="" accept-charset="utf-8">
{{ forms.newpassword('Password', 'password', form.password_err) }}
{{ forms.hidden('token', form.token) }}
{{ forms.submit('Reset password') }}
</form>

{% endblock %}

