{% extends 'base.html' %}
{% import 'form.html' as forms %}
{% set sessiongrouptitles={'setup':'Set up','open':'Open','takedown':'Take down'} %}
{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(function() {
	$("#sessions > fieldset").each(function() {
		var sessions = $(this).find("input.session");
		var session_count = sessions.length;
		var checked_count = sessions.filter(":checked").length;
		var select_all = $("<input type=\"checkbox\" title=\"Select all\"/>");
		var block_from_all = false;

		select_all.prop("checked", checked_count == session_count);
		$(this).find("legend").append(select_all);

		$(this).on("change", "input.session", function() {
			if (block_from_all)
				return;
			var checked_count = sessions.filter(":checked").length;
			select_all.prop("checked", checked_count == session_count);
		});

		select_all.on("change", function() {
			var all = $(this).prop("checked");
			block_from_all = true;
			sessions.prop("checked", all);
			$(this).prop("title", all ? "Clear all" : "Select all");
			block_from_all = false;
		});
	});
});
</script>
{% endblock %}
{% block content %}

<p>Any help you can give us is warmly welcomed, whether it's a few hours or the whole festival. We're open to the public from {{ festival.open_start|date('l j F') }} until {{ festival.open_end|date('l j F') }}. For setting up and taking down we'll be looking for volunteers all the way from {{ festival.site_start|date('l j F') }} right through to {{ festival.site_end|date('l j F') }}.</p>

<p>As a volunteer you get free food, some free beer and can buy more beer at a reduced price - while you're working.</p>

{% if not person or not person.is_member() %}
<p>If you're a CAMRA member, please <a href="memberlogin.php" title="Member login">login</a> before completing this form.</p>
{% endif %}

<form method="POST" action="">
{{ forms.input('What name would you like on your badge?', 'badgename', person ? (person.badgename|length ? person.badgename : person.name) : '') }}

<div id="sessions">
<p>Please indicate the sessions you can work. If you can only work part of a session that's OK too - for example, if you can't be there at the start or need to leave early.</p>
<p>For your own safety, please wear stout footwear - no open toed sandals or flip flops. For set up and take down please bring safety footwear if you have it - if you don't have it, we can provide it.</p>
{% for sessiongroup,days in festival.sessions %}
<fieldset>
<legend>{% if sessiongroup in sessiongrouptitles|keys %}{{ sessiongrouptitles[sessiongroup]}}{% else %} {{ sessiongroup }}{% endif %}</legend>
<table>
{% for day,sessions in days %}
<tr><td>{{ day|date('l j F') }}</td>
{% for session in sessions %}
<td><label><input type="checkbox" class="session" id="{{ session.tag }}" name="{{ session.tag }}" {% if session.id in pf.sessions %}checked {% endif %}/>
{{ session.start|time_midnight }}&ndash;{{ session.end|time_midnight }}
</label></td>
{% endfor %}
</tr>
{% endfor %}
</table>
</fieldset>
{% endfor %}
</div>

<fieldset>
<legend>Extra information</legend>
{% for flagdata in festival.flags %}
<label><input type="checkbox" id="flag_{{ flagdata.id }}" name="flag_{{ flagdata.id }}" {% if flagdata.id in pf.flags %}checked {% endif %}/>{{ flagdata.description }}
{% if flagdata.comment|length %}<em>{{ flagdata.comment }}</em>{% endif %}
</label>
{% endfor %}

{{ forms.textarea("Are there any particular jobs you'd like to do at the festival?", "jobprefs", pf.jobprefs, 2, 80) }}
{{ forms.textarea("Do you have any particular qualifications or experience that would be relevant?", "quals", pf.quals, 2, 80) }}
{{ forms.textarea("Is there anything else you want to mention?", "notes", pf.notes, 2, 80) }}
</fieldset>

<p>By submitting this form you are agreeing to abide by our staff guidelines at all times whilst on site. These will be available on site. Volunteers must be over the age of 18 - proof of age may be required at any session.</p>

{{ forms.submit('Volunteer') }}
</form>

<p>If you have a medical condition you feel the festival should know about, please get in touch with the <a href="mailto:volunteering@cambridgebeerfestival.com">festival volunteering officer, either by email</a> or in person at the festival. Any such details will of course be treated in the strictest confidence and shared only with festival medical personnel.</p>

{% endblock %}
